body{
    font: 20px arial, sans-serif;
}
.navbar{
    background-color: #85C1E9;
}

.quem-somos {
    background-color: aqua;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #85C1E9;
}

.bg-footer{
    background-color: black;
    color: white;
}